{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light customNav">
        <div class="container-fluid">
          <a class="navbar-brand brand" href="#">Talent Infusion</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link dec" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dec" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dec" href="contact">Contact</a>
              </li>
            </ul>
          
          </div>
        </div>
      </nav>
    <!--Navbar ends-->
    <!-- Page Content -->
<div class="samp">
  <section class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header about-head">About Title</div>
                    <main class="card-body">
                        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                        <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
                        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h4>
                        <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h5>
                        <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h6>
  
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam minima temporibus expedita dolores animi illum nulla qui optio perspiciatis at quos voluptates consequuntur incidunt porro aperiam, sunt cupiditate? Animi, quos?
                        Aperiam commodi quod iure nesciunt possimus, odit odio modi voluptatem consectetur accusamus doloremque eius corrupti dolore rerum placeat porro, dolores veniam quam, ea ratione! Ea saepe beatae magnam porro animi!
                        Quae, quidem autem. Reiciendis quis assumenda cupiditate cumque est quas incidunt libero fugiat. In modi quaerat ab tempora veniam culpa non obcaecati accusantium, adipisci aut rerum doloribus, pariatur laborum praesentium!
                        A accusamus veniam repellat consequatur sit optio veritatis laborum numquam. Maxime recusandae est non quaerat amet facere, in obcaecati aliquam distinctio alias? Sit aut cumque doloremque dolor totam recusandae ratione.
                        Non voluptatibus ipsa delectus aliquid cumque fugiat! Consectetur est nemo, autem repudiandae, quod numquam natus similique fugiat inventore enim obcaecati neque tenetur sint praesentium facilis culpa labore esse sunt voluptate.</p>
  
                    </main>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="cardd text-white sign-up-form-sidebar">
                    <div class="card-body">
                        <h4 class="card-title">Sign-up to get more details</h4>
                    
                        <form>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-sm" placeholder="Your Name" required>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control form-control-sm" placeholder="Your Email ID" required>
                            </div>
                            <div class="mb-3">
                                <input type="tel" class="form-control form-control-sm" placeholder="Phone" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control form-control-sm" placeholder="Course Name" required>
                            </div>
                            <div class="mb-3" style="color: #fff !important; background-color: #18003e !important;">
                                <input type="submit" class="btnn btn-warning btn-block btn-sm" value="Regsiter Online Now">
                            </div>
                      </form>
                    </div>
                </div>
  
            </div>
        </div>
    </div>
  </section>
</div>
<!-- Page Content -->
    




    <!--Footer-->
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <h5>Follow Us </h5>
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">LinkedIn</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
             
            </aside>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <h5>Site-Map </h5>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
            </aside>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <address>
                <h2>Travel Infusion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis reiciendis quis nam voluptas eum dolore aut quam tenetur obcaecati fugit autem voluptatem laudantium consequuntur vel, quisquam sed harum error</p>
                <p><strong>Email:</strong><a href="team.p@somaiya.edu"> team.p@somaiya.edu</a></p>
                <p><strong>Phone No:</strong><a href="tel:+91 8451866701"> +91 8451866701</a></p>
              </address>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <!--Footer ends-->
    <!--Copy-->
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; 2020. All rights reserved</p>
          </div>
        </div>
      </div>
    </section>
    <!--Copy ends-->
    
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
</body>
</html>