<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light customNav">
        <div class="container-fluid">
          <a class="navbar-brand brand" href="#">Talent Infusion</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link dec" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dec" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dec" href="#">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              
              <button class="btn btn-outline-success btn" type="submit" data-toggle="modal" data-target="#RegisterPopup">Register</button>
            </form>
          </div>
        </div>
      </nav>
    <!--Navbar ends-->

    <!--Footer-->
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <h5>Follow Us </h5>
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">LinkedIn</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
             
            </aside>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <h5>Site-Map </h5>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
            </aside>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <address>
                <h2>Travel Infusion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis reiciendis quis nam voluptas eum dolore aut quam tenetur obcaecati fugit autem voluptatem laudantium consequuntur vel, quisquam sed harum error</p>
                <p><strong>Email:</strong><a href="team.p@somaiya.edu"> team.p@somaiya.edu</a></p>
                <p><strong>Phone No:</strong><a href="tel:+91 8451866701"> +91 8451866701</a></p>
              </address>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <!--Footer ends-->

    <!--Copy-->
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; 2020. All rights reserved</p>
          </div>
        </div>
      </div>
    </section>
    <!--Copy ends-->
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
</body>
</html>