{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light customNav">
        <div class="container-fluid">
          <a class="navbar-brand brand" href="#">Talent Infusion</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link dec" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dec" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dec" href="#">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              
              <button class="btn btn-outline-success btn" type="submit" data-toggle="modal" data-target="#RegisterPopup">Register</button>
            </form>
          </div>
        </div>
      </nav>
    <!--Navbar ends-->

    <!--contact-->
    <section class="google-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30171.215450541316!2d72.85357143955078!3d19.046058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf21727f6e19%3A0x473006136ad440dc!2sK.%20J.%20Somaiya%20Institute%20of%20Engineering%20and%20Information%20Technology!5e0!3m2!1sen!2sin!4v1604331004049!5m2!1sen!2sin" width="100%" height="450px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="cardd">
            <div class="card-header" style="background-color:#18003e; color: #fff; border-radius: 0%;font-family: 'Poppins',sans-serif;font-weight: 600;" >
              Get In touch with us
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <input type="text" class="form-control form-control-sm" placeholder="Full Name" required>

              </div>
              <div class="mb-3">
                <input type="tel" class="form-control form-control-sm" placeholder="Contact No" required>
            </div>
              <div class="mb-3">
                  <input type="email" class="form-control form-control-sm" placeholder="Email-ID" required>
              </div>
              <div class="mb-3">
                  <input type="text" class="form-control form-control-sm" placeholder="Subject" required>
                </div>
                <div class="mb-3">
                  <textarea rows="10" class="form-control form-control-sm" placeholder="Your Message"></textarea>
                </div>
                <div class="mb-3">
                  <input type="submit" class="btnn btn-success btn-sm" placeholder="Submit">
                </div>
              </form>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-md-6">
          <table class="table table-striped tab" style=" background-color: #fff;">
            <tr>
              <th>Monday</th>
              <td>9:00AM-5:00PM</th>
            </tr>
            <tr>
              <th>Tuesday</th>
              <td>9:00AM-5:00PM</th>
            </tr>
            <tr>
              <th>Wednesday</th>
              <td>9:00AM-5:00PM</th>
            </tr>
            <tr>
              <th>Thursday</th>
              <td>9:00AM-5:00PM</th>
            </tr>
            <tr>
              <th>Friday</th>
              <td>9:00AM-5:00PM</th>
            </tr>
            <tr>
              <th>Saturday</th>
              <td>9:00AM-2:00PM</th>
            </tr>
            <tr>
              <th>Sunday</th>
              <td>Holiday</th>
            </tr>
          </table>
        </div>
      </div>

    </section>
    <!--contact ends-->


    <!--Footer-->
    <div class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <h5>Follow Us </h5>
                <ul>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">LinkedIn</a></li>
                  <li><a href="#">Instagram</a></li>
                </ul>
             
            </aside>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <h5>Site-Map </h5>
                <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Courses</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
            </aside>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <aside class="footer-widgit">
              <address>
                <h2>Travel Infusion</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis reiciendis quis nam voluptas eum dolore aut quam tenetur obcaecati fugit autem voluptatem laudantium consequuntur vel, quisquam sed harum error</p>
                <p><strong>Email:</strong><a href="team.p@somaiya.edu"> team.p@somaiya.edu</a></p>
                <p><strong>Phone No:</strong><a href="tel:+91 8451866701"> +91 8451866701</a></p>
              </address>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <!--Footer ends-->

    <!--Copy-->
    <section class="copy">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; 2020. All rights reserved</p>
          </div>
        </div>
      </div>
    </section>
    <!--Copy ends-->
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
</body>
</html>